body {
  background: rgb(20, 59, 109);

}
h1{
  text-align: center;
}
 caixa1 {
   position: absolute;
   background-attachment: grey
   width: 200px;
   height: 200px;
   left: 78%
   right: 0%
   bottom:
 }
 caixa2 {
   position: absolute;
   background-attachment: blue 
   width: 200px;
   height: 200px;
   left: 78%
   right: 0
   bottom:12
 } 
 .menuPrincipal {
  width: ;
  background: whitesmoke;
  top:0%
  left:0%
 }

 nav ul {
list-style-type: none;
margin: 0;
padding:0;
overflow:0;
 }
 li {
  float: left;
 }

 li a {
  display: block;
  color: burlywood;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
 }

 li a:hover {

  color: aliceblue;
 }